## 식과 연산자

In [1]:
# 덧셈
x = 3
print('X = ', x)
print('X + 5 = ', x+5)

X =  3
X + 5 =  8

In [2]:
# 뺄셈, 곱셈
y = 5
print('Y - 3 = ', y-3)
print('Y * 3 = ', y*3)

Y - 3 =  2
Y * 3 =  15

In [3]:
# 나눗셈, 나머지, 제곱
z1 = y / x
z2 = y % x
z3 = y ** x
print('Z1 = Y / X = ', z1)
print('Z2 = Y % X = ', z2)
print('Z3 = Y ** X = ', z3)

Z1 = Y / X =  1.6666666666666667
Z2 = Y % X =  2
Z3 = Y ** X =  125

In [4]:
#  나눗셈 (소수점 부분 제거)
z4 = y // x
print('Z4 = Y // X = ', z4)

Z4 = Y // X =  1

## 변수와 자료형

In [5]:
# 정수 자료형
int = 10
print('Type of NUM = ', type(int))

Type of NUM =  <class 'int'>

In [6]:
#  부동 소수점 자료형
real = 100.100
print('Type of NUM = ', type(real))

Type of NUM =  <class 'float'>

In [7]:
# 문자열 자료형
str = 'Python'
print('Type of STR = ', type(str))

Type of STR =  <class 'str'>

In [8]:
int = 100
type(int)

int

In [9]:
real = 100.100
type(real)

float

In [10]:
str = 'Python'
type(str)

str

In [11]:
# 리스트 자료형
list1 = ['red', 'blue', 'yellow'] # 같은 자료형
print('List_1 = ', list1)
print(type(list1))
n = 100
list2 = ['apple', n, 'banana'] # 다른 자료형
print('List_2 = ', list2)
print(type(list2))

List_1 =  ['red', 'blue', 'yellow']
<class 'list'>
List_2 =  ['apple', 100, 'banana']
<class 'list'>

In [12]:
apple = 3
banana = 6
grape = 9
fruits = [apple, banana, grape]
print('Fruits = ', fruits)
print(type(fruits))

Fruits =  [3, 6, 9]
<class 'list'>

In [13]:
# 리스트 값 입력
integer = [10, 20, 30, 40, 50]
float = [10.1, 20.2, 30.3, 40.4, 50.5, 60.6, 70.7]
string = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
# 리스트 값 출력
print('Integer List = ', integer)
print('Float List = ', float)
print('String List = ', string)
# 리스트 값 추출 출력
print('First of Integer List = ', integer[0])
print('Middle of Float List = ', float[4])
print('Last of String List = ', string[-1])
# 리스트 길이 출력
print('Length of Integer List = ', len(integer))
print('Length of Float List = ', len(float))
print('Length of String List = ', len(string))

Integer List =  [10, 20, 30, 40, 50]
Float List =  [10.1, 20.2, 30.3, 40.4, 50.5, 60.6, 70.7]
String List =  ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
First of Integer List =  10
Middle of Float List =  50.5
Last of String List =  I
Length of Integer List =  5
Length of Float List =  7
Length of String List =  9

In [14]:
# 배열에 리스트 추가
abc = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print('Length of ABC = ', len(abc), 'List = ', abc)
# 다른 요소 추가
abc.append(11)
print('Length of ABC = ', len(abc), 'List = ', abc)
# 다른 리스트 추가
abc.append([12, 13])
print('Length of ABC = ', len(abc), 'List = ', abc)
# 다른 리스트의 요소 추가
abc.extend([14, 15])
print('Length of ABC = ', len(abc), 'List = ', abc)

Length of ABC =  10 List =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Length of ABC =  11 List =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Length of ABC =  12 List =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, [12, 13]]
Length of ABC =  14 List =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, [12, 13], 14, 15]

In [15]:
# 인덱스를 지정해서 요소 제거
abc.pop(11)
print('Length of ABC = ', len(abc), 'List = ', abc)
# 마지막 요소 제거
abc.pop()
print('Length of ABC = ', len(abc), 'List = ', abc)
# 요소 지정해서 제거
abc.remove(14)
print('Length of ABC = ', len(abc), 'List = ', abc)

Length of ABC =  13 List =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15]
Length of ABC =  12 List =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14]
Length of ABC =  11 List =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
abc = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print('Length of ABC = ', len(abc), 'List = ', abc)
# 요소 제거
del abc[9]
print('Length of ABC = ', len(abc), 'List = ', abc)

Length of ABC =  10 List =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Length of ABC =  9 List =  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 리스트 갱신
print('Before = ', abc[0])
abc[0] = 100
print('After = ', abc[0])
# 리스트에서 리스트 추출
print('From Start To End = ', abc)
print('From 0 To 3 = ', abc[0:4])
print('To 3 = ', abc[:4])
print('From 5 To End = ', abc[5:])
# 리스트에서 요소 제거
del abc[0]
print('Length of ABC = ', len(abc), 'List = ', abc)
del abc[4:]
print('Length of ABC = ', len(abc), 'List = ', abc)

Before =  1
After =  100
From Start To End =  [100, 2, 3, 4, 5, 6, 7, 8, 9]
From 0 To 3 =  [100, 2, 3, 4]
To 3 =  [100, 2, 3, 4]
From 5 To End =  [6, 7, 8, 9]
Length of ABC =  8 List =  [2, 3, 4, 5, 6, 7, 8, 9]
Length of ABC =  4 List =  [2, 3, 4, 5]

In [18]:
# 리스트형 주의점

fruits = ["apple", "banana", "grape"]
fruits_copy = fruits
fruits_copy[0] = "melon"
print('List of Fruits = ', fruits)

fruits = ["apple", "banana", "grape"]
fruits_copy = fruits[:]   
fruits_copy[0] = "melon"
print('List of Fruits = ', fruits)

fruits = ["apple", "banana", "grape"]
fruits_copy = list(fruits)
fruits_copy[0] = "strawberry"
print('List of Fruits = ', fruits)

print('List of Fruits = ', fruits_copy)

List of Fruits =  ['melon', 'banana', 'grape']
List of Fruits =  ['apple', 'banana', 'grape']
List of Fruits =  ['apple', 'banana', 'grape']
List of Fruits =  ['strawberry', 'banana', 'grape']

## 조건 분기

In [19]:
# 조건 분기(숫자)
num1 = 111
num2 = 222
print('Number 1 = ', num1)
print('Number 2 = ', num2)

# 크기 비교
if num1 == num2:
    print('Number 1 is equal to Number 2')
elif num1 < num2:
    print('Number 1 is less than Number 2')
else:
    print('Number 1 is greater than Number 2')

Number 1 =  111
Number 2 =  222
Number 1 is less than Number 2

In [20]:
# 조건 분기(문장)
str1 = 'Python'
str2 = 'Welcome to Python World!'
print('str1' + ' = ' + str1)
print('str2' + ' = ' + str2)

if str1 in str2:
    print('"Python" is included in the statement')
else:
    print('"Python" is not included in the statement')

str1 = Python
str2 = Welcome to Python World!
"Python" is included in the statement

## 반복

In [21]:
# for 반복문
animals = ["dog", "cat", "tiger", "bear", "elephant"]
for animal in animals:
    print(animal)

dog
cat
tiger
bear
elephant

In [22]:
# 반복 중단하기
for animal in animals:
    print(animal)
    if animal == "bear":
        break;

dog
cat
tiger
bear

In [23]:
# 반복 건너뛰기
for animal in animals:
    if animal == "tiger":
        continue
    print(animal)

dog
cat
bear
elephant

In [24]:
# while 반복문
n = 5
while n > 0:
    print(n)
    n -= 1

5
4
3
2
1

In [25]:
n = 100
while n != 0:
    n -= 1
    if n%10 != 0:
        continue    
    else:
        print(n)

90
80
70
60
50
40
30
20
10
0

## 함수

In [26]:
# 함수 정의하기
def add(x, y):
    z = x + y  # 덧셈
    return z

# 함수 호출하기
num1 = 111
num2 = 222
num3 = add(num1, num2)

print('Number 3 = ', num3)

Number 3 =  333

In [27]:
# 공개된 함수 가져오기: 방법(1)
import time  # time 패키지 가져오기
now_time = time.time()
print('Now Time = ', now_time)

# 공개된 함수 가져오기: 방법(2)
from time import time  # time 패키지로부터 time 모듈 가져오기
now_time = time()
print('Now Time = ', now_time)

Now Time =  1596428058.8698502
Now Time =  1596428058.8708508

## 클래스

In [28]:
# 클래스 정의하기(1)
class MyProduct1:
    def __init__(self, name, price):  # 생성자 정의
        # 인수를 멤버에 저장
        self.name = name
        self.price = price
        self.stock = 0
        self.sales = 0
    def buy_up(self, n):  # 매서드 정의
        self.stock += n
        
# 클래스 호출하기
product1 = MyProduct1("cake", 500)
product1.buy_up(5)
print(product1.stock)

5

In [29]:
# 클래스 정의하기(2)
class MyProduct2:
    def __init__(self, name, price, stock):  # 생성자 정의
        # 인수를 멤버에 저장
        self.name = name
        self.price = price
        self.stock = stock
        self.sales = 0
    def buy_up(self, n):  # 매서드 정의
        self.stock += n

# 클래스 호출하기
product2 = MyProduct2("cake", 500, 20)
product2.buy_up(10)
print(product2.stock)

30

In [30]:
# 클래스 상속하기 (1)
class MyProduct3(MyProduct1):    # MyProduct1 클래스를 상속하는 MyProduct3 정의   
    # 생성자의 세 번째 인수가 tax_rate을 받음
    def __init__(self, name, price, tax_rate):    
        #  super()를 사용하여 부모 클래스의 메서드를 호출
        super().__init__(name, price)  
        self.tax_rate = tax_rate   
    # get_price_with_tax를 새로 구현
    def get_price_with_tax(self):   
        return (self.price * (1 + self.tax_rate))  
    
# 클래스 호출하기
product3 = MyProduct3("cake", 500, 0.1)
print(product3.get_price_with_tax())

550.0

In [31]:
# 클래스 상속하기 (2)
class MyProduct4(MyProduct2):    # MyProduct2 클래스를 상속하는 MyProduct3 정의   
    def __init__(self, name, price, stock, tax_rate):  # 생성자의 네 번째 인수가 tax_rate을 받음
        super().__init__(name, price, stock)  #  super()를 사용하여 부모 클래스의 메서드를 호출
        self.tax_rate=tax_rate   
    def buy_up(self, n):  # 매서드 정의
        self.stock += n
    def get_price_with_tax(self):    # get_price_with_tax를 새로 구현
        return (self.price * (1 + self.tax_rate))    
    
# 클래스 호출하기
product4 = MyProduct4("cake", 500, 20, 0.1)
product4.buy_up(20)
print(product4.stock)
print(product4.get_price_with_tax())

40
550.0